/*  your css code here. If applicable */
ul>li>a{
	text-decoration:none;
}

ul>li{
	list-style:none;
	margin-right:16px;
}

.navbar-all{
	display:flex;
	justify-content:space-evenly;
}

.container{
	background-color:#D3D3D3;
	padding:10px;
	
	
}